<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EToolService.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <EToolService.Desktop.Properties.Settings>
            <setting name="APIUrl" serializeAs="String">
                <value>http://130.211.114.153:5000/api</value>
            </setting>
            <setting name="AdminUsername" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value>GlavniAdmin</value>
            </setting>
        </EToolService.Desktop.Properties.Settings>
    </applicationSettings>
</configuration>
